<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional home</title>
    <link rel="stylesheet" href="/static/CSS/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Inter:wght@900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>

<body>

    <nav id="navbar">
        <ul>
            <li class="item"><a href="#home">Home</a></li>
            <li class="item"><a href="#services-container">Services</a></li>
            <li class="item"><a href="proftask">View Task</a></li> 
            <li class="item"><a href="contact">Contact Us</a></li>
            
        </ul>

        <div class="split">

            <div class="link-2">
                <a href="/"><button type="button"><span>Logout</span></button></a>
            </div>
        </div>
       
    </nav>
    
<div>
    <section id="home">
        
</div>

   


    <footer class="section-p1">
        <div class="col">
            <h4>Contact</h4>
            <p><strong>Address:</strong> Kolkata, West-Bengal, INDIA</p>
            <p><strong>Phone:</strong> +91 0000 000 00</p>
            <p><strong>Hours:</strong> 24*7, Mon - Sun</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms and Conditions</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="col">
            <h4>My account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
            <h4>Install</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="/static/images/app.jpg" alt="">
                <img src="/static/images/play.jpg" alt="">
            </div>
            <p>Secured Payment Gateway</p>
            <img src="/static/images/pay.png" alt="">
        </div>
        <div class="copyright">
            <p>© 2014-23 HTML CSS India Pvt. Ltd.</p>
        </div>
    </footer>

</body>

</html>